html {
    width: 100%;
    height: 100%;
}

body {
    --text-size: 100%;
    --small-text-size: 90%;
    --text-color:  #303030;
    --border-color: #d1cfcb;
    --background-color: white;
    --hover-highlight-color: #f6f6f6;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: var(--text-size);
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#rs-iframe {
    width: 100%;
    height: 100%;
    border: none;
    background-color: gray;
}

#control-panel {
    width: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#control-panel.expanded {
    width: 570px;
}

#control-panel #closer {
    width: 28px;
    content: "";
    background-color: var(--border-color);
    position: absolute;
    transform: translateX(-100%);
    height: 100%;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: white;
    font-size: 200%;
    border-left: 1px solid black;
}

#control-panel #closer::before {
    content: "â";
}

#control-panel > * {
    padding: 10px 15px;
}

#control-panel #about {
    background-color: var(--hover-highlight-color);
    font-size: var(--small-text-size);
}

#control-panel .mutation {
    display: block;
    padding: 8px 5px;
    user-select: none;
    cursor: pointer;
    border-radius: 6px;
}

#control-panel .mutation > input {
    margin-right: 0.5em;
}

#control-panel .mutation:hover {
    background-color: var(--hover-highlight-color);
}

#control-panel #mutation-container {
    overflow-y: auto;
    flex: 1;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 10px 10px;
}

#control-panel #mutation-container.empty::after {
    content: "Nothing to show";
    font-style: italic;
    padding: 5px;
    display: block;
    color: gray;
}

#control-panel #mutation-selection-count-indicator {
    color: gray;
    font-size: var(--small-text-size);
    padding: 15px;
}

#control-panel #search-container {
    display: flex;
    height: 2em;
    overflow: hidden;
}

#control-panel #search-container:hover,
#control-panel #search-container:focus {
    border-color: gray;
}

#control-panel #search-container input {
    flex: 1;
    appearance: none;
    border: none;
    outline: none;
    font-size: inherit;
    color: var(--text-color);
    background-color: transparent;
}

#control-panel hr {
    border: none;
    margin: 10px 0;
}
